/* Basic reset and global styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;  
    width: 100%;   
    overflow: hidden; 
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4; /* Light background for better readability */
    color: #333; /* Universal text color for better readability */
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8); /* Can adjust transparency if needed */
    z-index: 1000;
}
/* Hero section styling */
.hero {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text {
    display: inline-block;
    text-align: center;
}

.button-container {
    margin-top: 20px; /* Adjusted space between subtitle and buttons */
}

/* Button styling */
.button-container button {
    background-color:grey;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px; /* Tighter spacing */
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #0056b3; /* Darker on hover */
}

/* Article page styles */
.articles-list article {
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Centering articles */
    width: 80%;
    max-width: 600px; /* Optimal width for readability */
}

.articles-list h2 a {
    color: #0056b3;
    text-decoration: none;
}

.articles-list h2 a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 500;
}
/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .button-container button {
        padding: 15px 30px; /* Larger padding for touch devices */
        font-size: 16px; /* Slightly smaller font size on small screens */
    }
    .articles-list article {
        width: 90%; /* More responsive width on smaller screens */
    }
}
